$primary_color: #ffb400;
$p_color: #727272;
$font_family: 'Open Sans', sans-serif;



body {
	font: 18px/30px $font_family;
	color: $p_color;
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font: 36px/48px $font_family;
	color: black;
	font-weight: 400;
}

h2 {
	font: 30px/40px $font_family;
	color: black;
	font-weight: 700;
	padding-bottom: 20px;
}

h3 {
	font: 28px/30px $font_family;
	color: black;
	font-weight: 600;
	padding-bottom: 20px;
}

p {
	padding-bottom: 20px;
}

figure {
	img {
		width: 100%;
		height: auto;
	}
}

.home-page {
	.site-header {
		position: fixed;
		z-index: 99;
		top: 0px;
		left: 0;
	}
}

.site-header {
	background: rgba(128, 128, 128, 0.6);
	padding: 20px 0;
	width: 100%;

	.header-wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
        @media (max-width: 996px) {
            display: flex;
            flex-flow: column;
        }
	}

}

.site-navigation {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;

		li {
			display: inline;
			padding: 0 10px;
			margin: 0px;

			@media (min-width: 576px) {
				margin: 5px;
			}

			@media (min-width: 768px) {
				margin: 12px;
			}

			a {
				color: white;
				font-size: 12px;
				line-height: 0px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
.site-navigation li:hover {
	text-decoration: none;
	color: #ffb400;
}
.topmenu > li {
	display: inline-block;
	position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 0;
 line-height: 1;
  letter-spacing: 1px;
  text-decoration: none;
}

.topmenu > li > .down:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  border-bottom: 10px solid #000000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: 1s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 200px;
  padding: 0;
  margin-top: 5px;
  background: #000000;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: 1s;
}

.submenu a {
  letter-spacing: 1px;
  padding: 4px 20px;
  transition: .2s linear;
  font-weight:400;
  text-transform: none;
  font-size: 18px;
  display: block;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  color: #ffb400;
}

.submenu li :hover {
	color: #ffb400;
  text-decoration: none;
}
}
#fixed-menu-right {
		bottom: 0;
		height: 100%;
		position: fixed;
		right: 0;
		top: 20px;
		width: 0;
		z-index: 1034;


   .navigation-right {
		width: 330px;
		margin: 75px 0;
		position: absolute;
		box-sizing: border-box;
		right: -330px;
		background: #ffb400;
		transition: all 0.5s ease;

		&.active {
			 right: 0;
		}

		i.fa-user {
		color: #ffffff;
		cursor: pointer;
		font-size: 18px;
		height: 40px;
		left: -40px;
		line-height: 40px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 40px;
		background: #ffb400;
		border: none;
		transition: all 0.2s ease;

		}
		.fa {
			display: inline-block;
		}
		.rightcontent {
            margin: 10px 40px;
            display: flex;
            flex-flow: column;
            .acumailing_form {
                margin-bottom: 10px;
            }
            .acumailing_introtext {
                margin-bottom:  10px;
                padding: 0;
                h3 {
                    font-size: 16px;
                    color: #ffffff;
                    padding: 0;
                }
            }
            .acumailing_form {
                    flex: 1 1 auto;
                    width: 100%;
                    margin-bottom: 10px;
                    input {
                        width: 100%;
                        padding: 5px 0;
                        border: none;
                        border-radius: 40px;
                        outline: none;
                        font-size: 16px;
                    }
                }
            .form-login-remember {
                margin-bottom: 10px;
                .inputbox {
                        color: #ffffff;
                        transform:scale(1.3);
                }

            }
            .acysubbuttons {
                margin-bottom: 20px;
                padding: 0;
                list-style: none;
                .button-primary {
                    padding: 10px 10px;
                    color: #727272;
                    text-decoration: none;
                    font-weight: normal;
                }
                .button-primary:hover {
                    background: #727272;
                    color: #ffffff;
                }
            }
            .ul-login {
                padding: 0;
                list-style: none;
                .terms_link {
                    color: #ffffff;
                }
            }
		}
	}
}

.site-content {

	.home-section {
		position: relative;
		padding: 205px 0 160px 0;
		background-image: url( '../images/home-section-image.jpg');

		&:before {
			display: block;
			width: 100%;
			height: 220px;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
			content: '';
		}

		.wecome-text {
			color: white;
			font-size: 14px;
			line-height: 20px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		.slogan-text {
			color: white;
			font-size: 36px;
			line-height: 48px;
			margin-bottom: 50px;

			span {
				color: $primary_color;
				text-transform: uppercase;
				font-weight: 700;
			}
		}

	}

	.section {
		padding: 90px 0;

		&.section-2 {
			text-align: center;
		}

		&.section-3 {
			.row-1 {
				margin-bottom: 120px;
                @media (max-width: 768px) {
                    margin-bottom: 40px;
                }

				.extra-title {
					color: black;
					font-size: 14px;
					line-height: 20px;
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 25px;
				}

				h2 {
					font-size: 36px;
					line-height: 48px;
					font-weight: 400;
				}
                figure {
                    @media (max-width: 768px) {
                        margin-top: 25px;
                    }
                }
			}

			.row-2 {
				margin-bottom: 80px;
				text-align: center;
			}
		}

		&.section-4 {
			.row-1 {
				text-align: center;

				h2 {
					width: 100%;
				}
			}
		}

		&.section-5 {
			.row-1 {
			   text-align: center;
			}
			.row-2 {
			    text-align: center;
                @media (max-width: 996px) {
                   display: block;
                   margin: 30px;
               }

			}
			.row-2 ul {
                display: flex;
                flex-flow: row;
				padding: 0;
                @media (max-width: 996px) {
                   display: inline-block;
                   margin: 30px;
               }
			}

			.row-2 {
				ul {
					li {
						margin: auto;
						list-style: none;
						display: inline;
					}
				}
			}

			.row-2 img {
				opacity: 1;
				transition: all 0.5s ease;
                @media (max-width: 996px) {
                    margin: 10px;
               }

			}
			.row-2 img:hover {
				opacity: 0.7;
			}

		}


		&.section-6 {
			.subscribe-form {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;

				@media (min-width: 768px) {
					flex-flow: row nowrap;
				}

				.acumailing_introtext {
					margin-bottom: 20px;

					@media (min-width: 768px) {
						margin-right: 20px;
						margin-bottom: 0px;
					}

					h3 {
						padding: 0;
					}
				}

				.acumailing_form {
					flex: 1 1 auto;
					width: 100%;
					margin-bottom: 20px;

					@media (min-width: 768px) {
						margin-bottom: 0px;
					}

					input {
						width: 100%;
						padding: 14px 20px;
						border: none;
						border-radius: 40px;
						outline: none;
					}
				}

				.acysubbuttons {
					margin: 0;

					@media (min-width: 768px) {
						margin-left: 20px;
					}

					a {
						display: block;
					}
				}
			}

		}

		&.section-7 {
			.container {
                    @media (max-width: 768px) {
                    }
                .copyright {
                    display: block;
                    padding: 0;
                    @media (max-width: 976px) {
                        font-size: 13px;
                        padding-bottom: 30px;
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
                .moduletable {
                    @media (max-width: 976px) {
                            font-size: 13px;
                            display: block;
                            text-align: center;
                            width: 100%;

                    }
                }

                .module_container {
                        @media (max-width: 976px) {
                                display: block;
                                text-align: left;
                        }
                }
                .iteam {
                        margin-bottom: 60px;
                        @media (max-width: 976px) {
                                        width: 100%;
                                        text-align: left;
                        }
                }
                .blurb {
                    width: 100%;
                    justify-content: left;
                    @media (max-width: 976px) {
                                        justify-content: left;
                                        text-align: left;
                                        margin: 0 auto;
                                        max-width: 260px;
                                        padding: 5px;
                    }
                }
                .blurb2 {
                    @media (max-width: 976px) {
                             justify-content: center;
                            text-align: center;
                            margin: 0 auto;
                            max-width: 160px;
                            padding: 5px;
                    

                    }
                }
			   .terms_link {
					color: #727272;
					cursor: pointer;
					transition: all 0.5s ease;
					outline: none;
					text-decoration: none;
				}
				.terms_link:hover {
					color: #ffb400;
				}
			   .privacy_link {
					color: #727272;
					cursor: pointer;
					transition: all 0.5s ease;
					outline: none;
					text-decoration: none;

			   }
			   .privacy_link:hover {
					color: #ffb400;
			   }
				   .module_container p {
					   margin-bottom: 0;
					   padding-bottom: 0;
					}
					.module_container  a {
							color: #ffb400;
							cursor:pointer;
							text-decoration: none;
							 transition: all 0.5s ease;
					}
					.module_container  a:hover {
						color: #000;
					}
					.module_container .blurb .blurb-icon {
							margin: 5px 10px;

					}
                    .module_container .blurb2 .blurb-icon {
                        text-align: center;
                    }
					.module_container .blurb span {
						font-size: 45px;
						display: flex;
						top:0;
					}
					.module_container .phone-1 a {
                        display: block;
						color: #727272;
                        text-align: left;
					}
					.module_container .phone-1 a:hover {
						color: #000;
					}
                    .module_container .phone-1 .blurb-content {
                        display: block;
                        width: 160px;
                    }
                    .moduletable .blurb-icon {
                        margin-right: 0;
                    }
                    .moduletable ul {
                        display: flex;
                        padding-left: 20px;
                    }
					.moduletable li {
						padding: 0;
						font-size: 20px;
						line-height: 20px;
						list-style: none;
						margin-left: 0px;
					 }
					 .moduletable li span {
						font-size: 20px;
						font-weight: bold;
						margin: 0 5px;
						padding: 0;
					 }
					 .moduletable li span:hover {
						transition: all 0.5s ease;
						color: #000;
					 }


			}

		}
		&.section-galery-1 {
			display: block;
			padding-bottom: 0;


			.container {
					h2 {
							font-size: 25px;
							text-transform: uppercase;
							color: rgb(77, 83, 113);
					        text-align: center;
					}
				    .galery-menu .row {
					   display: block;
					    margin: 0 auto;
				    }

				    .thumbs {
        					overflow: hidden;
        					margin-bottom: 30px;
        					position: relative;
        					border-radius: 3px;
        					cursor: pointer;
        					box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

        					display: block;

					    img {
						 display: block;
						 width: 100%; /* ширина картинки */
						 height: auto; /* высота картинки */
						 backface-visibility: hidden;
                         transition: all 1s ease;
					    }
                        img:hover {
                        }

					    .caption {
						   width: 100%;
						   height: 100%;
						   color: #fff;
						   position: absolute;
						   top: 0;
						    left: 0;
						      z-index: 3;

						  display: flex;
						  justify-content: center;
						  align-items: center;
					    }
				    }   

				    .thumbs:before {
					content: '';
					background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
					width: 100%;
					height: 50%;
					opacity: 0;
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 2;
					transition-property: top, opacity;
					transition-duration: 0.3s;
				    }

				    .thumbs .caption span {
					 display: block;
					 opacity: 0;
					 position: relative;
					 top: 100px;
					 transition-property: top, opacity;
					 transition-duration: 0.3s;
					 transition-delay: 0s;
				     }
				    .thumbs .caption .title {
					 line-height: 1;
					 font-weight: normal;
					 font-size: 18px;
				     }

				     .thumbs:focus:before,
				    .thumbs:focus span, .thumbs:hover:before,
				    .thumbs:hover span {
					   opacity: 1;
				     }
				    .thumbs:focus:before, .thumbs:hover:before {
					   top: 50%;
				     }
				    .thumbs:focus span, .thumbs:hover span {
					   top: 0;
				     }
				    .thumbs:focus .title, .thumbs:hover .title {
					  transition-delay: 0.15s;
                    }
			}
        }
        &.section-blog{
                border-bottom: 5px solid #ffb400;
                padding-bottom: 0;
            h2 {
               text-transform: uppercase;
            }
            .row {
                margin-bottom: 30px;
            }
            a {
                color: #727272;
                text-decoration: none;
            }
            span {
                color: #ffb400;
            }
            .iteam column-1 {
                margin-bottom: 30px;
            }
            .col-sm-6 {
                @media (max-width: 976px) {
                    display: block;
                    margin-bottom: 60px;
                }
            }
            .iteam_header h3 {
                color: #ffb400;
                transition: all 0.8s ease;
            }
            .iteam_header h3:hover {
                color: #727272;
            }
            .iteam_info {
                font-size: 13px;
                dd {
                    display: inline-block;
                    padding: 0 5px 5px 0;
                    margin: 0;
                }
                .label-info2:hover {
                    color: #ffb400;
                }
                .item_createdby {
                        margin: 0;
                }
            }
            .tags {
                padding-left: 5px;
            }
            .tags li {
                display: inline-block;
                margin: 0 30px 30px 0;
                background: #ffb400;
                border-radius: 5px;
                .label-info {
                        font-size: 100%;
                        line-height: 12px;
                        font-weight: normal;
                        color: rgb(255, 255, 255);
                        padding: 3px 5px;
                        transition: all 0.8s ease;
               }
               .label-info:hover {
                background: #000;
                border-radius: 5px;
               }
            }
            .tags2 {
                padding-left: 0;
            }
            .button-primary {
                color: rgb(255, 255, 255);
            }
            .button-primary:hover {
                background: #000;
            }
            .pagination {
                height: auto;
                margin: 0;
                justify-content: center;
                margin: 0;
                text-align: center;
                width: 100%;
            } 
                .page-item {
                        display: inline-block;
                        line-height: 30px;
                        margin: 0 2px;
                        background: #727272;
                        padding: 7px 13px;
                        border-radius: 30px;
                        transition: all 1s ease;
                 }
                .page-item:hover {
                    background: #ffb400;
                }
                .page-link2 {
                    text-decoration: none;
                    border: none;
                    color: #ffb400;
                    padding: 0;
                    line-height: 1.5;
                }
                .page-link2:hover {
                    color: white;
                }
                .sr-only:hover {
                    color: white;
                }
        }
        &.section-prising {
            padding: 40px 0 0 0;
                 @media (max-width: 768px) {
                    display: block;
                }
            .prisings-detalied-row {
                margin-left: -15px;
                margin-right: -15px;
                @media (max-width: 768px) {
                    display: block;

                }
            }
            .prisings-simple-row .price {
                border: none;
            }
            .prisings-simple-row h3 {
                padding-bottom: 0;
            }

            .col-sm-3 {
                padding: 30px 15px;
                position: relative;
                @media (max-width: 768px) {
                    min-width: 100%;
                    min-height: 100%;
                    position: relative;
                }

            }
            .col-sm-4 {
                padding: 30px 15px;
                position: relative;
            }
                .iteam-content {
                    text-align: center;
                    display:block; 
                    border:1px solid #ffb400;
                     padding: 30px 15px;
                    h3 {
                        font-size: 20px;
                        color: #ffb400;
                        font-weight: bold;
                        text-transform: uppercase;
                        @media (max-width: 976px) {
                            font-size: 16px;
                     }

                    }
                }
                .iteam-introtext {
                        text-align: center;
                        span {
                            font-size: 16px;
                            line-height: 30px;
                            text-transform: uppercase;
                        }
                        ul {
                            margin: 18 0px;
                            padding: 0;
                            list-style: none;
                            list-style-type: none;

                        }
                }
                .button-primary {
                    display: inline-block;
                    border-radius: 30px;
                }
                .button-primary:hover {
                    background: #000;
                    color: #ffffff;
                }
                .price {
                            border-top: 1px solid #dddddd;
                            border-bottom: 1px solid #dddddd;
                            font-size: 36px;
                            line-height: 50px;
                            padding: 18px 0;
                }
                .price span {
                        font-size: 30px;
                        line-height: 48px;
                        vertical-align: bottom;
                }
                .price li {
                    font-size: 16px;
                    line-height: 30px;
                }
        }
        &.section-faqs {
            margin: 0;
            width: 100%;
            padding-bottom: 0;
               .accordion {
                    width: 100%;
      
                    display: block;
                    position: relative;
                    margin: 0 auto;
                    padding: 0;
                    background-color: #fefffa;
                    overflow: hidden
                }
                .accordion h2 {
                    font-size: 13px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                    display: block;
                    margin: 0;
                    padding: 10px 50px;
                    cursor: pointer;
                    color: #ffffff;
                    background: #ffb400;
                    border-radius: 30px;
                    border-top: 1px solid #3face4;
                    border-bottom: 1px solid #2479a5;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
             }

            .msg {
              position: relative;
              overflow: hidden;
              max-height: 800px;
              opacity: 1;
              transform: translate(0, 0);
            }
             
            .msg p {
              color: rgba(48, 69, 92, 0.8);
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 1px;
              padding: 0 20px
            }
             
            @media (max-width: 550px) {
              .accordion {
                box-sizing: border-box;
                transform: translate(0, 0);
                max-width: 100%;
                min-height: 100%;
                margin: 0;
                left: 0;
              }
            } 
             
            .accordion ul {
              list-style: none;
              perspective: 900;
              padding: 0;
              margin: 0;
            }
             
      
            .accordion ul li {
              position: relative;
              padding: 10px 0;
              margin: 0;

            }

             
            .accordion ul li i {
                color:#ffffff;
                position: absolute;
                transform: translate(-6px, 0);
                margin-top:26px;
                left: 25px;
            }
            .accordion ul li i:before, .accordion ul li i:after {
              content: "";
              position: absolute;
              background-color: #eee;
              width: 3px;
              height: 9px;
            }
            .accordion ul li i:before {
                  transform: translate(-2px, 0) rotate(45deg);
            }
            .accordion ul li i:after {
                  transform: translate(2px, 0) rotate(-45deg);
            }

             
            .accordion ul li input[type=checkbox] {
              position: absolute;
              cursor: pointer;
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0;
              opacity: 0;
            }
            .accordion ul li input[type=checkbox]:checked ~ div.msg {
              margin-top: 0;
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%);
            }  
            .accordion ul li input[type=checkbox]:checked ~ i:before {
              transform: translate(2px, 0) rotate(45deg);
            }
            .accordion ul li input[type=checkbox]:checked ~ i:after {
              transform: translate(-2px, 0) rotate(-45deg);
            }
            div.msg, ul li i:before, ul li i:after {
                transition: all 0.5s ease-in-out;
            }
             
        }
        &.section-out_team {
            margin: 0;
            width: 100%;
            padding-bottom: 0;
            border-bottom: 2px solid #ffb400;
            h2 {
                text-transform: uppercase;
                font-size: 25px;
                line-height: 40px;
            }
            h3 {
                font-size: 20px;
                color: #000000;
                font-weight: bold;
            }
            p {
                font-size: 18px;
                line-height: 30px;
                color: #727272;
            }
        }
        &.section-contacts {
            #map {
                margin-bottom: 30px;
            }
            .heading-style {
                margin-bottom: 15px;
                padding: 0;
            }
            .contact_adress {
                padding-bottom: 30px;
                i {
                    text-transform: none;
                }
            }
            .contact_details_fax {
                padding-bottom: 30px;
            }
            .contact_details_email {
                a {
                    color: #ffb400;
                    text-decoration: none;
                }
                a:hover {
                    color: #727272;
                }
            }
            .contact_vcard {
                padding-top: 15px;
                a {
                    color: #ffb400;
                    text-decoration: none;

                }
                a:hover {
                    color: #727272;
                }
            }
            .control {
                input {
                    display: block;
                    border-radius: 30px;
                    max-width: 100%;
                    height: 56px;
                    background: #ffffff;
                    border: 1px solid #252525;
                    color: #727272;
                    font-family: 'Open Sans',sans-serif;
                    font-size: 18px;
                    line-height: 30px;
                    padding: 13px 20px;
                    vertical-align: middle;
                    outline: none;
                    margin-bottom: 15px;
                    box-sizing: border-box;
                    transition: border-color 1s ease,box-shadow 1s ease;
                    box-shadow: none;

                }
                textarea {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    background: #ffffff;
                    border: 1px solid #252525;
                    color: #727272;
                    font-family: 'Open Sans',sans-serif;
                    font-size: 18px;
                    line-height: 30px;
                    padding: 13px 20px;
                    vertical-align: middle;
                    outline: none;
                    margin-bottom: 15px;
                    border-radius: 30px;
                    box-sizing: border-box;
                    transition: border-color 1s ease,box-shadow 1s ease;
                        box-shadow: none;
                }
            }
            .control-group-button {
                margin-top: 30px;
                a:hover {
                    color: #ffffff;
                    background: #000;
                }
            }
            
        }
                
    }
}
.section-invert {
			 background-color: $primary_color;

				h2, p {
				 color: white;
				}

	}

.section-about-1 {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 50px;
	.module_container_1 .page_header {
		margin-bottom: 20px;
	}
		.module_container_1 .page_header h2 {
			font-size: 25px;
			line-height: 40px;
		}

	.img-intro__right {
		float: right;
		margin-left: 30px;
		max-width: 50%;
	}
	.item_introtext	{
		text-align: left;
	}
	.item_introtext p {
		margin: 0;
		padding: 0px 0px 30px;
	}
}
.section-about-2 {
	width: 100%;
	text-align: center;
	.module_container_1 .page_header {
		 text-transform: uppercase;
		}
	.mod__about_testimonials p {
		margin: 0;
	}
	.item_introtext blockquote cite {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		color: white;
		font-style: normal;


	}

}
.section-about-2 .container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1200px;
}
.section-about-3 {
	text-align: center;
	padding: 0;
	width: 100%;

	#one, #two {
	  background: url('../images/carousel-image-3.jpg') no-repeat center top fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size:cover;background-size:cover;
	  height: 300px;
	  width: 100%;
	  position: relative;
		  .page_header h2 {
			 color: white;
			 padding: 30px 0;
		  }
		  .page_header p {
			margin: 0 60px;
			padding: 10 50px;
			 color: white;
		  }
		  .Apply  {
			margin: 20px 0;
		  }
		  .Apply .button-primary {
			background: white;
			color: #000;
			transition: all 0.5s ease;
		  }
		  .Apply .button-primary:hover {
			background:#000;
			color:white;
		  }
	}
}


.button-primary {
	padding: 20px 35px;
	border-radius: 50px;
	background-color: $primary_color;
	color: white;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	box-sizing: border-box;
	letter-spacing: 1px;
	transition: all 1.5 cubic-bezier(.14,.57,.26,.93);


	&.invert {
		background-color: white;
		color: black;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	&:hover {
		background-color: white;
		color: black;
		text-decoration: none;
	}
}

.blurb {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;

	&-icon {
		font-size: 60px;
		line-height: 60px;
		color: $primary_color;
		margin: 10px 30px 30px 0;
	}

	&-content {
		flex: 1 1 auto;
	}

	&.blurb-top {
		flex-flow: column nowrap;
	}
}

.post-carousel {
	.swiper-slide {
		position: relative;

		.slide-content {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-end;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			padding: 30px;
			margin: 20px;
			background-color: rgba( 0, 0, 0, 0.4 );
			transition: all 500ms cubic-bezier(.14,.57,.26,.93);

			.post-date {
				color: white;
			}

			h3 {
				color: white;
			}

		}

		&:hover {
			.slide-content {
				background-color: rgba( 250, 185, 21, 0.8);
			}
		}
	}

}
.scrollup{
width:40px;
height:40px;
opacity:0.5;
position:fixed;
bottom:50px;
right:20px;
display:none;
text-indent:-9999px;
background: url('http://webmastermix.ru/files/demo/creation-site/raznoe/knopka-vverh/icon_top.png') no-repeat;
}