@charset "UTF-8";
body {
  font: 18px/30px "Open Sans", sans-serif;
  color: #727272;
  background-color: white; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font: 36px/48px "Open Sans", sans-serif;
  color: black;
  font-weight: 400; }

h2 {
  font: 30px/40px "Open Sans", sans-serif;
  color: black;
  font-weight: 700;
  padding-bottom: 20px; }

h3 {
  font: 28px/30px "Open Sans", sans-serif;
  color: black;
  font-weight: 600;
  padding-bottom: 20px; }

p {
  padding-bottom: 20px; }

input {
  position: absolute;
  width: 60%;
  height: 59px;
  top: 0;
  border-radius: 40px;
  border: none; }

.site-header {
  background: rgba(128, 128, 128, 0.6);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 99; }
  .site-header .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .site-navigation ul li {
    display: inline;
    padding: 0 10px;
    margin: 12px; }
    .site-navigation ul li a {
      color: white;
      font-size: 12px;
      line-height: 0px;
      font-weight: 700;
      text-transform: uppercase; }
.site-navigation .site-navigation li:hover {
  text-decoration: none;
  color: #ffb400; }
.site-navigation .topmenu > li {
  display: inline-block;
  position: relative; }
.site-navigation .topmenu > li > a {
  position: relative;
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none; }
.site-navigation .topmenu > li > .down:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  border-bottom: 10px solid #000000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s; }
.site-navigation .topmenu li:hover a:before {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 1; }
.site-navigation .submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 200px;
  padding: 0;
  margin-top: 5px;
  background: #000000;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  -webkit-transition: 1s;
  transition: 1s; }
.site-navigation .submenu a {
  letter-spacing: 1px;
  padding: 4px 20px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  display: block; }
.site-navigation .topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #ffb400; }
.site-navigation .submenu li :hover {
  color: #ffb400;
  text-decoration: none; }

#fixed-menu-right {
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 20px;
  width: 0;
  z-index: 1034; }
  #fixed-menu-right .navigation-right {
    width: 330px;
    margin: 75px 0;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    right: -330px;
    background: #ffb400;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #fixed-menu-right .navigation-right.active {
      right: 0; }
    #fixed-menu-right .navigation-right i.fa-user {
      color: #ffffff;
      cursor: pointer;
      font-size: 18px;
      height: 40px;
      left: -40px;
      line-height: 40px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 40px;
      background: #ffb400;
      border: none;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #fixed-menu-right .navigation-right .fa {
      display: inline-block; }
    #fixed-menu-right .navigation-right .rightcontent {
      height: 200px; }

.site-content .home-section {
  position: relative;
  padding: 205px 0 160px 0;
  background-image: url("../images/home-section-image.jpg"); }
  .site-content .home-section:before {
    display: block;
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    content: ''; }
  .site-content .home-section .wecome-text {
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .site-content .home-section .slogan-text {
    color: white;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 50px; }
    .site-content .home-section .slogan-text span {
      color: #ffb400;
      text-transform: uppercase;
      font-weight: 700; }
.site-content .section {
  padding: 90px 0; }
  .site-content .section.section-2 {
    text-align: center; }
  .site-content .section.section-3 .row-1 {
    margin-bottom: 120px; }
    .site-content .section.section-3 .row-1 .extra-title {
      color: black;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px; }
    .site-content .section.section-3 .row-1 h2 {
      font-size: 36px;
      line-height: 48px;
      font-weight: 400; }
  .site-content .section.section-3 .row-2 {
    margin-bottom: 80px;
    text-align: center; }
  .site-content .section.section-4 .row-1 {
    text-align: center; }
    .site-content .section.section-4 .row-1 h2 {
      width: 100%; }
  .site-content .section.section-5 .row-1 {
    text-align: center; }
  .site-content .section.section-5 .row-2 {
    text-align: center; }
  .site-content .section.section-5 .row-2 ul {
    padding: 0; }
  .site-content .section.section-5 .row-2 ul li {
    margin: auto;
    list-style: none;
    display: inline; }
  .site-content .section.section-5 .row-2 img {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .site-content .section.section-5 .row-2 img:hover {
    opacity: 0.7; }
  .site-content .section.section-6 {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 70px; }
    .site-content .section.section-6 .menu-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 50%; }
      .site-content .section.section-6 .menu-container .acumailing_introtext {
        width: 20%;
        margin: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        top: 50%; }
      .site-content .section.section-6 .menu-container .acumailing_introtext h3 {
        color: white; }
      .site-content .section.section-6 .menu-container .acumailing_form {
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        top: 50%; }
      .site-content .section.section-6 .menu-container .acysubbuttons {
        margin-left: 65%;
        padding-top: 13px;
        background: rgba(255, 180, 0, 0.7); }
      .site-content .section.section-6 .menu-container .button-primary {
        border: 1px solid white; }
  .site-content .section.section-7 .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1200px; }
    .site-content .section.section-7 .container .terms_link {
      color: #727272;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      outline: none;
      text-decoration: none; }
    .site-content .section.section-7 .container .terms_link:hover {
      color: #ffb400; }
    .site-content .section.section-7 .container .privacy_link {
      color: #727272;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      outline: none;
      text-decoration: none; }
    .site-content .section.section-7 .container .privacy_link:hover {
      color: #ffb400; }
    .site-content .section.section-7 .container .module_container p {
      margin-bottom: 0;
      padding-bottom: 0; }
    .site-content .section.section-7 .container .module_container a {
      color: #ffb400;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .site-content .section.section-7 .container .module_container a:hover {
      color: #000; }
    .site-content .section.section-7 .container .module_container .blurb .blurb-icon {
      margin: 0 10px; }
    .site-content .section.section-7 .container .module_container .blurb span {
      font-size: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 0; }
    .site-content .section.section-7 .container .module_container .phone-1 a {
      color: #727272; }
    .site-content .section.section-7 .container .module_container .phone-1 a:hover {
      color: #000; }
    .site-content .section.section-7 .container .moduletable li {
      padding: 0;
      font-size: 20px;
      height: 20px;
      line-height: 20px;
      width: 20px;
      list-style: none;
      margin-left: -50px; }
    .site-content .section.section-7 .container .moduletable li span {
      font-size: 20px;
      font-weight: bold;
      margin: 0 5px;
      padding: 0; }
    .site-content .section.section-7 .container .moduletable li span:hover {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      color: #000; }
  .site-content .section.section-galery-1 {
    display: block;
    padding-bottom: 0; }
    .site-content .section.section-galery-1 .container {
      padding-top: 90px;
      padding-bottom: 0;
      margin-bottom: 60px;
      margin: 0;
      width: 100%;
      text-align: center; }
      .site-content .section.section-galery-1 .container .page_header h2 {
        font-size: 25px;
        text-transform: uppercase;
        color: #4d5371;
        text-align: center; }
      .site-content .section.section-galery-1 .container .galery-menu .row {
        display: block;
        margin: 0 auto; }
      .site-content .section.section-galery-1 .container .col-sm-4 {
        display: inline-block;
        margin-left: 10%;
        min-height: 1px;
        padding-left: 0;
        padding-right: 0; }
      .site-content .section.section-galery-1 .container .thumbs {
        width: 100%;
        max-width: 300px;
        /* опционально */
        margin: 10px;
        opacity: .99;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        cursor: pointer;
        -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
      .site-content .section.section-galery-1 .container .thumbs:before {
        content: '';
        background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
        width: 100%;
        height: 50%;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        -webkit-transition-property: top, opacity;
        transition-property: top, opacity;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s; }
      .site-content .section.section-galery-1 .container .thumbs img {
        display: block;
        width: 100%;
        /* ширина картинки */
        height: auto;
        /* высота картинки */
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden; }
      .site-content .section.section-galery-1 .container .thumbs .caption {
        width: 100%;
        padding: 90px;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        text-align: center; }
      .site-content .section.section-galery-1 .container .thumbs .caption span {
        display: block;
        opacity: 0;
        position: relative;
        top: 100px;
        -webkit-transition-property: top, opacity;
        transition-property: top, opacity;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
        -webkit-transition-delay: 0s;
                transition-delay: 0s; }
      .site-content .section.section-galery-1 .container .thumbs .caption .title {
        line-height: 1;
        font-weight: normal;
        font-size: 18px; }
      .site-content .section.section-galery-1 .container .thumbs:focus:before,
      .site-content .section.section-galery-1 .container .thumbs:focus span, .site-content .section.section-galery-1 .container .thumbs:hover:before,
      .site-content .section.section-galery-1 .container .thumbs:hover span {
        opacity: 1; }
      .site-content .section.section-galery-1 .container .thumbs:focus:before, .site-content .section.section-galery-1 .container .thumbs:hover:before {
        top: 50%; }
      .site-content .section.section-galery-1 .container .thumbs:focus span, .site-content .section.section-galery-1 .container .thumbs:hover span {
        top: 0; }
      .site-content .section.section-galery-1 .container .thumbs:focus .title, .site-content .section.section-galery-1 .container .thumbs:hover .title {
        -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s; }

.section-invert {
  background-color: #ffb400; }
  .section-invert h2, .section-invert p {
    color: white; }

.section-about-1 {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px; }
  .section-about-1 .module_container_1 .page_header {
    margin-bottom: 20px; }
  .section-about-1 .module_container_1 .page_header h2 {
    font-size: 25px;
    line-height: 40px; }
  .section-about-1 .img-intro__right {
    float: right;
    margin-left: 30px;
    max-width: 50%; }
  .section-about-1 .item_introtext {
    text-align: left; }
  .section-about-1 .item_introtext p {
    margin: 0;
    padding: 0px 0px 30px; }

.section-about-2 {
  width: 100%;
  text-align: center; }
  .section-about-2 .module_container_1 .page_header {
    text-transform: uppercase; }
  .section-about-2 .mod__about_testimonials p {
    margin: 0; }
  .section-about-2 .item_introtext blockquote cite {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: white;
    font-style: normal; }

.section-about-2 .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1200px; }

.section-about-3 {
  text-align: center;
  padding: 0;
  width: 100%; }
  .section-about-3 #one, .section-about-3 #two {
    background: url("../images/carousel-image-3.jpg") no-repeat center top fixed;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative; }
    .section-about-3 #one .page_header h2, .section-about-3 #two .page_header h2 {
      color: white;
      padding: 30px 0; }
    .section-about-3 #one .page_header p, .section-about-3 #two .page_header p {
      margin: 0 60px;
      padding: 10 50px;
      color: white; }
    .section-about-3 #one .Apply, .section-about-3 #two .Apply {
      margin: 20px 0; }
    .section-about-3 #one .Apply .button-primary, .section-about-3 #two .Apply .button-primary {
      background: white;
      color: #000;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .section-about-3 #one .Apply .button-primary:hover, .section-about-3 #two .Apply .button-primary:hover {
      background: #000;
      color: white; }

.button-primary {
  padding: 20px 35px;
  border-radius: 50px;
  background-color: #ffb400;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  -webkit-transition: all 1.5 cubic-bezier(0.14, 0.57, 0.26, 0.93);
  transition: all 1.5 cubic-bezier(0.14, 0.57, 0.26, 0.93); }
  .button-primary.invert {
    background-color: white;
    color: black; }
    .button-primary.invert:hover {
      background-color: black;
      color: white; }
  .button-primary:hover {
    background-color: white;
    color: black;
    text-decoration: none; }

.blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .blurb-icon {
    font-size: 60px;
    line-height: 60px;
    color: #ffb400;
    margin: 10px 30px 30px 0; }
  .blurb-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .blurb.blurb-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }

.post-carousel .swiper-slide {
  position: relative; }
  .post-carousel .swiper-slide .slide-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms cubic-bezier(0.14, 0.57, 0.26, 0.93);
    transition: all 500ms cubic-bezier(0.14, 0.57, 0.26, 0.93); }
    .post-carousel .swiper-slide .slide-content .post-date {
      color: white; }
    .post-carousel .swiper-slide .slide-content h3 {
      color: white; }
  .post-carousel .swiper-slide:hover .slide-content {
    background-color: rgba(250, 185, 21, 0.8); }
