@charset "UTF-8";
body {
  font: 18px/30px "Open Sans", sans-serif;
  color: #727272;
  background-color: white; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font: 36px/48px "Open Sans", sans-serif;
  color: black;
  font-weight: 400; }

h2 {
  font: 30px/40px "Open Sans", sans-serif;
  color: black;
  font-weight: 700;
  padding-bottom: 20px; }

h3 {
  font: 28px/30px "Open Sans", sans-serif;
  color: black;
  font-weight: 600;
  padding-bottom: 20px; }

p {
  padding-bottom: 20px; }

figure img {
  width: 100%;
  height: auto; }

.home-page .site-header {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0; }

.site-header {
  background: rgba(128, 128, 128, 0.6);
  padding: 20px 0;
  width: 100%; }
  .site-header .header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 996px) {
      .site-header .header-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column; } }

.site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .site-navigation ul li {
    display: inline;
    padding: 0 10px;
    margin: 0px; }
    @media (min-width: 576px) {
      .site-navigation ul li {
        margin: 5px; } }
    @media (min-width: 768px) {
      .site-navigation ul li {
        margin: 12px; } }
    .site-navigation ul li a {
      color: white;
      font-size: 12px;
      line-height: 0px;
      font-weight: 700;
      text-transform: uppercase; }

.site-navigation .site-navigation li:hover {
  text-decoration: none;
  color: #ffb400; }

.site-navigation .topmenu > li {
  display: inline-block;
  position: relative; }

.site-navigation .topmenu > li > a {
  position: relative;
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none; }

.site-navigation .topmenu > li > .down:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  border-bottom: 10px solid #000000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  -webkit-transform: translate(-50%, 20px);
  -ms-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.site-navigation .topmenu li:hover a:before {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 1; }

.site-navigation .submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 200px;
  padding: 0;
  margin-top: 5px;
  background: #000000;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, 20px);
  -ms-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.site-navigation .submenu a {
  letter-spacing: 1px;
  padding: 4px 20px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  display: block; }

.site-navigation .topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #ffb400; }

.site-navigation .submenu li :hover {
  color: #ffb400;
  text-decoration: none; }

#fixed-menu-right {
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 20px;
  width: 0;
  z-index: 1034; }
  #fixed-menu-right .navigation-right {
    width: 330px;
    margin: 75px 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: -330px;
    background: #ffb400;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #fixed-menu-right .navigation-right.active {
      right: 0; }
    #fixed-menu-right .navigation-right i.fa-user {
      color: #ffffff;
      cursor: pointer;
      font-size: 18px;
      height: 40px;
      left: -40px;
      line-height: 40px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 40px;
      background: #ffb400;
      border: none;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #fixed-menu-right .navigation-right .fa {
      display: inline-block; }
    #fixed-menu-right .navigation-right .rightcontent {
      margin: 10px 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column; }
      #fixed-menu-right .navigation-right .rightcontent .acumailing_form {
        margin-bottom: 10px; }
      #fixed-menu-right .navigation-right .rightcontent .acumailing_introtext {
        margin-bottom: 10px;
        padding: 0; }
        #fixed-menu-right .navigation-right .rightcontent .acumailing_introtext h3 {
          font-size: 16px;
          color: #ffffff;
          padding: 0; }
      #fixed-menu-right .navigation-right .rightcontent .acumailing_form {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 100%;
        margin-bottom: 10px; }
        #fixed-menu-right .navigation-right .rightcontent .acumailing_form input {
          width: 100%;
          padding: 5px 0;
          border: none;
          border-radius: 40px;
          outline: none;
          font-size: 16px; }
      #fixed-menu-right .navigation-right .rightcontent .form-login-remember {
        margin-bottom: 10px; }
        #fixed-menu-right .navigation-right .rightcontent .form-login-remember .inputbox {
          color: #ffffff;
          -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
          transform: scale(1.3); }
      #fixed-menu-right .navigation-right .rightcontent .acysubbuttons {
        margin-bottom: 20px;
        padding: 0;
        list-style: none; }
        #fixed-menu-right .navigation-right .rightcontent .acysubbuttons .button-primary {
          padding: 10px 10px;
          color: #727272;
          text-decoration: none;
          font-weight: normal; }
        #fixed-menu-right .navigation-right .rightcontent .acysubbuttons .button-primary:hover {
          background: #727272;
          color: #ffffff; }
      #fixed-menu-right .navigation-right .rightcontent .ul-login {
        padding: 0;
        list-style: none; }
        #fixed-menu-right .navigation-right .rightcontent .ul-login .terms_link {
          color: #ffffff; }

.site-content .home-section {
  position: relative;
  padding: 205px 0 160px 0;
  background-image: url("../images/home-section-image.jpg"); }
  .site-content .home-section:before {
    display: block;
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    content: ''; }
  .site-content .home-section .wecome-text {
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .site-content .home-section .slogan-text {
    color: white;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 50px; }
    .site-content .home-section .slogan-text span {
      color: #ffb400;
      text-transform: uppercase;
      font-weight: 700; }

.site-content .section {
  padding: 90px 0; }
  .site-content .section.section-2 {
    text-align: center; }
  .site-content .section.section-3 .row-1 {
    margin-bottom: 120px; }
    @media (max-width: 768px) {
      .site-content .section.section-3 .row-1 {
        margin-bottom: 40px; } }
    .site-content .section.section-3 .row-1 .extra-title {
      color: black;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px; }
    .site-content .section.section-3 .row-1 h2 {
      font-size: 36px;
      line-height: 48px;
      font-weight: 400; }
    @media (max-width: 768px) {
      .site-content .section.section-3 .row-1 figure {
        margin-top: 25px; } }
  .site-content .section.section-3 .row-2 {
    margin-bottom: 80px;
    text-align: center; }
  .site-content .section.section-4 .row-1 {
    text-align: center; }
    .site-content .section.section-4 .row-1 h2 {
      width: 100%; }
  .site-content .section.section-5 .row-1 {
    text-align: center; }
  .site-content .section.section-5 .row-2 {
    text-align: center; }
    @media (max-width: 996px) {
      .site-content .section.section-5 .row-2 {
        display: block;
        margin: 30px; } }
  .site-content .section.section-5 .row-2 ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    padding: 0; }
    @media (max-width: 996px) {
      .site-content .section.section-5 .row-2 ul {
        display: inline-block;
        margin: 30px; } }
  .site-content .section.section-5 .row-2 ul li {
    margin: auto;
    list-style: none;
    display: inline; }
  .site-content .section.section-5 .row-2 img {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (max-width: 996px) {
      .site-content .section.section-5 .row-2 img {
        margin: 10px; } }
  .site-content .section.section-5 .row-2 img:hover {
    opacity: 0.7; }
  .site-content .section.section-6 .subscribe-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 768px) {
      .site-content .section.section-6 .subscribe-form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap; } }
    .site-content .section.section-6 .subscribe-form .acumailing_introtext {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .site-content .section.section-6 .subscribe-form .acumailing_introtext {
          margin-right: 20px;
          margin-bottom: 0px; } }
      .site-content .section.section-6 .subscribe-form .acumailing_introtext h3 {
        padding: 0; }
    .site-content .section.section-6 .subscribe-form .acumailing_form {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 100%;
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .site-content .section.section-6 .subscribe-form .acumailing_form {
          margin-bottom: 0px; } }
      .site-content .section.section-6 .subscribe-form .acumailing_form input {
        width: 100%;
        padding: 14px 20px;
        border: none;
        border-radius: 40px;
        outline: none; }
    .site-content .section.section-6 .subscribe-form .acysubbuttons {
      margin: 0; }
      @media (min-width: 768px) {
        .site-content .section.section-6 .subscribe-form .acysubbuttons {
          margin-left: 20px; } }
      .site-content .section.section-6 .subscribe-form .acysubbuttons a {
        display: block; }
  .site-content .section.section-7 .container .copyright {
    display: block;
    padding: 0; }
    @media (max-width: 976px) {
      .site-content .section.section-7 .container .copyright {
        font-size: 13px;
        padding-bottom: 30px;
        display: block;
        width: 100%;
        text-align: center; } }
  @media (max-width: 976px) {
    .site-content .section.section-7 .container .moduletable {
      font-size: 13px;
      display: block;
      text-align: center;
      width: 100%; } }
  @media (max-width: 976px) {
    .site-content .section.section-7 .container .module_container {
      display: block;
      text-align: left; } }
  .site-content .section.section-7 .container .iteam {
    margin-bottom: 60px; }
    @media (max-width: 976px) {
      .site-content .section.section-7 .container .iteam {
        width: 100%;
        text-align: left; } }
  .site-content .section.section-7 .container .blurb {
    width: 100%;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left; }
    @media (max-width: 976px) {
      .site-content .section.section-7 .container .blurb {
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -ms-flex-pack: left;
        justify-content: left;
        text-align: left;
        margin: 0 auto;
        max-width: 260px;
        padding: 5px; } }
  @media (max-width: 976px) {
    .site-content .section.section-7 .container .blurb2 {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      max-width: 160px;
      padding: 5px; } }
  .site-content .section.section-7 .container .terms_link {
    color: #727272;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
    text-decoration: none; }
  .site-content .section.section-7 .container .terms_link:hover {
    color: #ffb400; }
  .site-content .section.section-7 .container .privacy_link {
    color: #727272;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
    text-decoration: none; }
  .site-content .section.section-7 .container .privacy_link:hover {
    color: #ffb400; }
  .site-content .section.section-7 .container .module_container p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .site-content .section.section-7 .container .module_container a {
    color: #ffb400;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .site-content .section.section-7 .container .module_container a:hover {
    color: #000; }
  .site-content .section.section-7 .container .module_container .blurb .blurb-icon {
    margin: 5px 10px; }
  .site-content .section.section-7 .container .module_container .blurb2 .blurb-icon {
    text-align: center; }
  .site-content .section.section-7 .container .module_container .blurb span {
    font-size: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0; }
  .site-content .section.section-7 .container .module_container .phone-1 a {
    display: block;
    color: #727272;
    text-align: left; }
  .site-content .section.section-7 .container .module_container .phone-1 a:hover {
    color: #000; }
  .site-content .section.section-7 .container .module_container .phone-1 .blurb-content {
    display: block;
    width: 160px; }
  .site-content .section.section-7 .container .moduletable .blurb-icon {
    margin-right: 0; }
  .site-content .section.section-7 .container .moduletable ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px; }
  .site-content .section.section-7 .container .moduletable li {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    list-style: none;
    margin-left: 0px; }
  .site-content .section.section-7 .container .moduletable li span {
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    padding: 0; }
  .site-content .section.section-7 .container .moduletable li span:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #000; }
  .site-content .section.section-galery-1 {
    display: block;
    padding-bottom: 0; }
    .site-content .section.section-galery-1 .container h2 {
      font-size: 25px;
      text-transform: uppercase;
      color: #4d5371;
      text-align: center; }
    .site-content .section.section-galery-1 .container .galery-menu .row {
      display: block;
      margin: 0 auto; }
    .site-content .section.section-galery-1 .container .thumbs {
      overflow: hidden;
      margin-bottom: 30px;
      position: relative;
      border-radius: 3px;
      cursor: pointer;
      -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      display: block; }
      .site-content .section.section-galery-1 .container .thumbs img {
        display: block;
        width: 100%;
        /* ширина картинки */
        height: auto;
        /* высота картинки */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
      .site-content .section.section-galery-1 .container .thumbs .caption {
        width: 100%;
        height: 100%;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
    .site-content .section.section-galery-1 .container .thumbs:before {
      content: '';
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
      width: 100%;
      height: 50%;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      -webkit-transition-property: top, opacity;
      -o-transition-property: top, opacity;
      transition-property: top, opacity;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .site-content .section.section-galery-1 .container .thumbs .caption span {
      display: block;
      opacity: 0;
      position: relative;
      top: 100px;
      -webkit-transition-property: top, opacity;
      -o-transition-property: top, opacity;
      transition-property: top, opacity;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    .site-content .section.section-galery-1 .container .thumbs .caption .title {
      line-height: 1;
      font-weight: normal;
      font-size: 18px; }
    .site-content .section.section-galery-1 .container .thumbs:focus:before,
    .site-content .section.section-galery-1 .container .thumbs:focus span, .site-content .section.section-galery-1 .container .thumbs:hover:before,
    .site-content .section.section-galery-1 .container .thumbs:hover span {
      opacity: 1; }
    .site-content .section.section-galery-1 .container .thumbs:focus:before, .site-content .section.section-galery-1 .container .thumbs:hover:before {
      top: 50%; }
    .site-content .section.section-galery-1 .container .thumbs:focus span, .site-content .section.section-galery-1 .container .thumbs:hover span {
      top: 0; }
    .site-content .section.section-galery-1 .container .thumbs:focus .title, .site-content .section.section-galery-1 .container .thumbs:hover .title {
      -webkit-transition-delay: 0.15s;
      -o-transition-delay: 0.15s;
      transition-delay: 0.15s; }
  .site-content .section.section-blog {
    border-bottom: 5px solid #ffb400;
    padding-bottom: 0; }
    .site-content .section.section-blog h2 {
      text-transform: uppercase; }
    .site-content .section.section-blog .row {
      margin-bottom: 30px; }
    .site-content .section.section-blog a {
      color: #727272;
      text-decoration: none; }
    .site-content .section.section-blog span {
      color: #ffb400; }
    .site-content .section.section-blog .iteam column-1 {
      margin-bottom: 30px; }
    @media (max-width: 976px) {
      .site-content .section.section-blog .col-sm-6 {
        display: block;
        margin-bottom: 60px; } }
    .site-content .section.section-blog .iteam_header h3 {
      color: #ffb400;
      -webkit-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease; }
    .site-content .section.section-blog .iteam_header h3:hover {
      color: #727272; }
    .site-content .section.section-blog .iteam_info {
      font-size: 13px; }
      .site-content .section.section-blog .iteam_info dd {
        display: inline-block;
        padding: 0 5px 5px 0;
        margin: 0; }
      .site-content .section.section-blog .iteam_info .label-info2:hover {
        color: #ffb400; }
      .site-content .section.section-blog .iteam_info .item_createdby {
        margin: 0; }
    .site-content .section.section-blog .tags {
      padding-left: 5px; }
    .site-content .section.section-blog .tags li {
      display: inline-block;
      margin: 0 30px 30px 0;
      background: #ffb400;
      border-radius: 5px; }
      .site-content .section.section-blog .tags li .label-info {
        font-size: 100%;
        line-height: 12px;
        font-weight: normal;
        color: white;
        padding: 3px 5px;
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease; }
      .site-content .section.section-blog .tags li .label-info:hover {
        background: #000;
        border-radius: 5px; }
    .site-content .section.section-blog .tags2 {
      padding-left: 0; }
    .site-content .section.section-blog .button-primary {
      color: white; }
    .site-content .section.section-blog .button-primary:hover {
      background: #000; }
    .site-content .section.section-blog .pagination {
      height: auto;
      margin: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0;
      text-align: center;
      width: 100%; }
    .site-content .section.section-blog .page-item {
      display: inline-block;
      line-height: 30px;
      margin: 0 2px;
      background: #727272;
      padding: 7px 13px;
      border-radius: 30px;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .site-content .section.section-blog .page-item:hover {
      background: #ffb400; }
    .site-content .section.section-blog .page-link2 {
      text-decoration: none;
      border: none;
      color: #ffb400;
      padding: 0;
      line-height: 1.5; }
    .site-content .section.section-blog .page-link2:hover {
      color: white; }
    .site-content .section.section-blog .sr-only:hover {
      color: white; }
  .site-content .section.section-prising {
    padding: 40px 0 0 0; }
    @media (max-width: 768px) {
      .site-content .section.section-prising {
        display: block; } }
    .site-content .section.section-prising .prisings-detalied-row {
      margin-left: -15px;
      margin-right: -15px; }
      @media (max-width: 768px) {
        .site-content .section.section-prising .prisings-detalied-row {
          display: block; } }
    .site-content .section.section-prising .prisings-simple-row .price {
      border: none; }
    .site-content .section.section-prising .prisings-simple-row h3 {
      padding-bottom: 0; }
    .site-content .section.section-prising .col-sm-3 {
      padding: 30px 15px;
      position: relative; }
      @media (max-width: 768px) {
        .site-content .section.section-prising .col-sm-3 {
          min-width: 100%;
          min-height: 100%;
          position: relative; } }
    .site-content .section.section-prising .col-sm-4 {
      padding: 30px 15px;
      position: relative; }
    .site-content .section.section-prising .iteam-content {
      text-align: center;
      display: block;
      border: 1px solid #ffb400;
      padding: 30px 15px; }
      .site-content .section.section-prising .iteam-content h3 {
        font-size: 20px;
        color: #ffb400;
        font-weight: bold;
        text-transform: uppercase; }
        @media (max-width: 976px) {
          .site-content .section.section-prising .iteam-content h3 {
            font-size: 16px; } }
    .site-content .section.section-prising .iteam-introtext {
      text-align: center; }
      .site-content .section.section-prising .iteam-introtext span {
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase; }
      .site-content .section.section-prising .iteam-introtext ul {
        margin: 18 0px;
        padding: 0;
        list-style: none;
        list-style-type: none; }
    .site-content .section.section-prising .button-primary {
      display: inline-block;
      border-radius: 30px; }
    .site-content .section.section-prising .button-primary:hover {
      background: #000;
      color: #ffffff; }
    .site-content .section.section-prising .price {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      font-size: 36px;
      line-height: 50px;
      padding: 18px 0; }
    .site-content .section.section-prising .price span {
      font-size: 30px;
      line-height: 48px;
      vertical-align: bottom; }
    .site-content .section.section-prising .price li {
      font-size: 16px;
      line-height: 30px; }
  .site-content .section.section-faqs {
    margin: 0;
    width: 100%;
    padding-bottom: 0; }
    .site-content .section.section-faqs .accordion {
      width: 100%;
      display: block;
      position: relative;
      margin: 0 auto;
      padding: 0;
      background-color: #fefffa;
      overflow: hidden; }
    .site-content .section.section-faqs .accordion h2 {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      display: block;
      margin: 0;
      padding: 10px 50px;
      cursor: pointer;
      color: #ffffff;
      background: #ffb400;
      border-radius: 30px;
      border-top: 1px solid #3face4;
      border-bottom: 1px solid #2479a5;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .site-content .section.section-faqs .msg {
      position: relative;
      overflow: hidden;
      max-height: 800px;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .site-content .section.section-faqs .msg p {
      color: rgba(48, 69, 92, 0.8);
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1px;
      padding: 0 20px; }
    @media (max-width: 550px) {
      .site-content .section.section-faqs .accordion {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0; } }
    .site-content .section.section-faqs .accordion ul {
      list-style: none;
      -webkit-perspective: 900;
      perspective: 900;
      padding: 0;
      margin: 0; }
    .site-content .section.section-faqs .accordion ul li {
      position: relative;
      padding: 10px 0;
      margin: 0; }
    .site-content .section.section-faqs .accordion ul li i {
      color: #ffffff;
      position: absolute;
      -webkit-transform: translate(-6px, 0);
      -ms-transform: translate(-6px, 0);
      transform: translate(-6px, 0);
      margin-top: 26px;
      left: 25px; }
    .site-content .section.section-faqs .accordion ul li i:before, .site-content .section.section-faqs .accordion ul li i:after {
      content: "";
      position: absolute;
      background-color: #eee;
      width: 3px;
      height: 9px; }
    .site-content .section.section-faqs .accordion ul li i:before {
      -webkit-transform: translate(-2px, 0) rotate(45deg);
      -ms-transform: translate(-2px, 0) rotate(45deg);
      transform: translate(-2px, 0) rotate(45deg); }
    .site-content .section.section-faqs .accordion ul li i:after {
      -webkit-transform: translate(2px, 0) rotate(-45deg);
      -ms-transform: translate(2px, 0) rotate(-45deg);
      transform: translate(2px, 0) rotate(-45deg); }
    .site-content .section.section-faqs .accordion ul li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      opacity: 0; }
    .site-content .section.section-faqs .accordion ul li input[type=checkbox]:checked ~ div.msg {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
      -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
      transform: translate(0, 50%); }
    .site-content .section.section-faqs .accordion ul li input[type=checkbox]:checked ~ i:before {
      -webkit-transform: translate(2px, 0) rotate(45deg);
      -ms-transform: translate(2px, 0) rotate(45deg);
      transform: translate(2px, 0) rotate(45deg); }
    .site-content .section.section-faqs .accordion ul li input[type=checkbox]:checked ~ i:after {
      -webkit-transform: translate(-2px, 0) rotate(-45deg);
      -ms-transform: translate(-2px, 0) rotate(-45deg);
      transform: translate(-2px, 0) rotate(-45deg); }
    .site-content .section.section-faqs div.msg, .site-content .section.section-faqs ul li i:before, .site-content .section.section-faqs ul li i:after {
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .site-content .section.section-out_team {
    margin: 0;
    width: 100%;
    padding-bottom: 0;
    border-bottom: 2px solid #ffb400; }
    .site-content .section.section-out_team h2 {
      text-transform: uppercase;
      font-size: 25px;
      line-height: 40px; }
    .site-content .section.section-out_team h3 {
      font-size: 20px;
      color: #000000;
      font-weight: bold; }
    .site-content .section.section-out_team p {
      font-size: 18px;
      line-height: 30px;
      color: #727272; }
  .site-content .section.section-contacts #map {
    margin-bottom: 30px; }
  .site-content .section.section-contacts .heading-style {
    margin-bottom: 15px;
    padding: 0; }
  .site-content .section.section-contacts .contact_adress {
    padding-bottom: 30px; }
    .site-content .section.section-contacts .contact_adress i {
      text-transform: none; }
  .site-content .section.section-contacts .contact_details_fax {
    padding-bottom: 30px; }
  .site-content .section.section-contacts .contact_details_email a {
    color: #ffb400;
    text-decoration: none; }
  .site-content .section.section-contacts .contact_details_email a:hover {
    color: #727272; }
  .site-content .section.section-contacts .contact_vcard {
    padding-top: 15px; }
    .site-content .section.section-contacts .contact_vcard a {
      color: #ffb400;
      text-decoration: none; }
    .site-content .section.section-contacts .contact_vcard a:hover {
      color: #727272; }
  .site-content .section.section-contacts .control input {
    display: block;
    border-radius: 30px;
    max-width: 100%;
    height: 56px;
    background: #ffffff;
    border: 1px solid #252525;
    color: #727272;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 13px 20px;
    vertical-align: middle;
    outline: none;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 1s ease,-webkit-box-shadow 1s ease;
    transition: border-color 1s ease,-webkit-box-shadow 1s ease;
    -o-transition: border-color 1s ease,box-shadow 1s ease;
    transition: border-color 1s ease,box-shadow 1s ease;
    transition: border-color 1s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .site-content .section.section-contacts .control textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    border: 1px solid #252525;
    color: #727272;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 13px 20px;
    vertical-align: middle;
    outline: none;
    margin-bottom: 15px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 1s ease,-webkit-box-shadow 1s ease;
    transition: border-color 1s ease,-webkit-box-shadow 1s ease;
    -o-transition: border-color 1s ease,box-shadow 1s ease;
    transition: border-color 1s ease,box-shadow 1s ease;
    transition: border-color 1s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .site-content .section.section-contacts .control-group-button {
    margin-top: 30px; }
    .site-content .section.section-contacts .control-group-button a:hover {
      color: #ffffff;
      background: #000; }

.section-invert {
  background-color: #ffb400; }
  .section-invert h2, .section-invert p {
    color: white; }

.section-about-1 {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px; }
  .section-about-1 .module_container_1 .page_header {
    margin-bottom: 20px; }
  .section-about-1 .module_container_1 .page_header h2 {
    font-size: 25px;
    line-height: 40px; }
  .section-about-1 .img-intro__right {
    float: right;
    margin-left: 30px;
    max-width: 50%; }
  .section-about-1 .item_introtext {
    text-align: left; }
  .section-about-1 .item_introtext p {
    margin: 0;
    padding: 0px 0px 30px; }

.section-about-2 {
  width: 100%;
  text-align: center; }
  .section-about-2 .module_container_1 .page_header {
    text-transform: uppercase; }
  .section-about-2 .mod__about_testimonials p {
    margin: 0; }
  .section-about-2 .item_introtext blockquote cite {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: white;
    font-style: normal; }

.section-about-2 .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1200px; }

.section-about-3 {
  text-align: center;
  padding: 0;
  width: 100%; }
  .section-about-3 #one, .section-about-3 #two {
    background: url("../images/carousel-image-3.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative; }
    .section-about-3 #one .page_header h2, .section-about-3 #two .page_header h2 {
      color: white;
      padding: 30px 0; }
    .section-about-3 #one .page_header p, .section-about-3 #two .page_header p {
      margin: 0 60px;
      padding: 10 50px;
      color: white; }
    .section-about-3 #one .Apply, .section-about-3 #two .Apply {
      margin: 20px 0; }
    .section-about-3 #one .Apply .button-primary, .section-about-3 #two .Apply .button-primary {
      background: white;
      color: #000;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .section-about-3 #one .Apply .button-primary:hover, .section-about-3 #two .Apply .button-primary:hover {
      background: #000;
      color: white; }

.button-primary {
  padding: 20px 35px;
  border-radius: 50px;
  background-color: #ffb400;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
  -webkit-transition: all 1.5 cubic-bezier(0.14, 0.57, 0.26, 0.93);
  -o-transition: all 1.5 cubic-bezier(0.14, 0.57, 0.26, 0.93);
  transition: all 1.5 cubic-bezier(0.14, 0.57, 0.26, 0.93); }
  .button-primary.invert {
    background-color: white;
    color: black; }
    .button-primary.invert:hover {
      background-color: black;
      color: white; }
  .button-primary:hover {
    background-color: white;
    color: black;
    text-decoration: none; }

.blurb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .blurb-icon {
    font-size: 60px;
    line-height: 60px;
    color: #ffb400;
    margin: 10px 30px 30px 0; }
  .blurb-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .blurb.blurb-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }

.post-carousel .swiper-slide {
  position: relative; }
  .post-carousel .swiper-slide .slide-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms cubic-bezier(0.14, 0.57, 0.26, 0.93);
    -o-transition: all 500ms cubic-bezier(0.14, 0.57, 0.26, 0.93);
    transition: all 500ms cubic-bezier(0.14, 0.57, 0.26, 0.93); }
    .post-carousel .swiper-slide .slide-content .post-date {
      color: white; }
    .post-carousel .swiper-slide .slide-content h3 {
      color: white; }
  .post-carousel .swiper-slide:hover .slide-content {
    background-color: rgba(250, 185, 21, 0.8); }

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: url("http://webmastermix.ru/files/demo/creation-site/raznoe/knopka-vverh/icon_top.png") no-repeat; }
